---
const session = Astro.cookies.get("session");
let views = 1;

if (session) {
  views = session.number() + 1;
}

Astro.cookies.set("session", `${views}`);
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Session</title>
  </head>

  <body>
    <h1>Session</h1>
    <p>Page views: {views}</p>
    <p><a href="/">戻る</a></p>
  </body>
</html>
